<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.danbuntu.androidsudoku">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainMenuActivity" android:label="Android Sudoku" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".PuzzleActivity" android:label="Sudoku"/>
        <activity android:name=".CameraActivity" android:label="Camera"/>
        <activity android:name=".OCRActivity" android:label="OCR"/>
        <activity android:name=".GalleryActivity" android:label="Crop Image"/>
        <activity android:name=".SettingsActivity" android:label="Settings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.danbuntu.androidsudoku.MainMenuActivity" />
        </activity>
        <activity android:name=".NewGameActivity" android:label="New Game" />

    </application>

</manifest>